[2022-08-19 20:28] ageddesi opened #1 "[New Mock] : Countries"

[2022-08-19 20:28] ageddesi opened #2 "[New Mock] - Time Zones"

[2022-08-19 21:10] #1 closed

[2022-08-21 10:53] ageddesi opened #3 "Add Faker.js"
Add the faker.js library in order to provide mock data easier. The framework already comes with a large qty of data creation classes to use and expose in the api

[2022-08-21 10:54] ageddesi opened #4 "Add jest to enable testing of endpoints and utils"
Add unit tests I to the app to test util files and api endpoints.

[2022-08-21 16:37] #3 closed

[2022-08-21 16:39] ageddesi opened #5 "[New Mock] - Address"
See for data: https://fakerjs.dev/api/address.html

[2022-08-21 16:39] ageddesi opened #6 "[New Mock] - Animals"
See for data source: https://fakerjs.dev/api/animal.html

[2022-08-21 16:40] ageddesi opened #7 "[New Mock] - Color"
See data source: https://fakerjs.dev/api/color.html

[2022-08-21 16:47] ageddesi opened #8 "Add an api healthcheck endpoint"

[2022-08-21 16:51] #8 closed

[2022-08-21 19:37] ageddesi opened #9 "Make a landing page for the project for the website"
Make a landing page for the site

[2022-08-21 20:04] ageddesi opened #10 "Add Rate Limiting"

[2022-08-22 18:00] #6 closed

[2022-08-23 12:43] ageddesi opened #11 "Add https://population.un.org/wpp/ Data Source"

[2022-08-23 16:30] ageddesi opened #12 "[New Mock] - Image"
Add Image endpoint using faker and their default Unsplash image provider.

[2022-08-23 17:09] ageddesi opened #13 "Add API analytics"

[2022-08-23 17:12] #12 closed

[2022-08-24 10:37] #9 closed

[2022-08-24 10:41] ageddesi opened #14 "[New Mock] - Blockchain"
This needs to be defined, but would like to start with the following.

- Bitcoin
- Etherium

[2022-08-24 10:41] ageddesi opened #15 "[New Mock] - Social Feed"
Need to create a fake social feeds. We can do one PR per social event

- [ ] Facebook
- [x]  Instagram
- [x] Twitter

We still need to also decide what info needs to be mocked.

[2022-08-24 10:41] ageddesi opened #16 "[New Mock] - Chat Feed"
I have just introduced a new chat endpoint in version v.0.11.0 , However I would like to extend this to include an endpoint that is not random data but instead a mocked real conversation.
Maybe we could look into generating a conversation between two bots :)

[2022-08-24 10:41] ageddesi opened #17 "[New Mock] - Email Feed"
We will need a mock endpoint that returns fake email inbox of data.

A bunch of mocked data with (we can expand as we feel is needed)

- ID
- Date Sent
- Sender Email
- Read / Unread Status
- Subject Line
- Email Content
- Tags

[2022-08-24 10:41] ageddesi opened #18 "[New Mock] - Reviews"
1. Add more real worded reviews for  a series of fake products. eg. A Gaming Sports drink, a new dvd player etc. (The more we do the merrier)
2. Add fake worded reviews for a fake product using faker.lorem.sentence the same way we do in getRandomChat

[2022-08-24 16:08] ageddesi opened #19 "Use Faker.unique"
Based on feedback in the Faker.js discord channel. We should consider updating our calls to use faker.unique instead.

[2022-08-25 08:16] ageddesi opened #20 "[BUG] - Fix Duplicated Entries"
Reintroduce new set at end of this function to prevent duplicated entries
modules/animal/utils/getSpeciesOfAnimal.ts

[2022-08-27 18:41] ageddesi opened #21 "Add An AI for generating fake data"
Can we utalize AI to make better random date by allowing users to vote on results.

[2022-08-29 07:34] ageddesi opened #22 "Need a logo"
The site needs a logo that can be used on stickers, t-shirts etc.

[2022-08-29 07:39] renovate[bot] opened #26 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

## Open

These updates have all been created already. Click a checkbox below to force a retry/rebase of any.

 - [ ] [Update dependency typescript to v4.8.4](../pull/44)
 - [ ] [Update dependency @typescript-eslint/eslint-plugin to

[2022-08-30 10:01] ageddesi opened #32 "Setup a prettier and eslint pre-commit hook"
This will make sure to enforce our coding standards.

[2022-09-11 20:40] ageddesi commented on #18
Added two new endpoints in version 0.10.0

I have currently only added 5 fake reviews for a gaming sports drink. Need to make a few more categories and products so there is more options avaliable.

[2022-09-30 15:07] ageddesi opened #45 "Improve Chat Message endpoints to include the users"
**Is your feature request related to a problem? Please describe.**
When you get the current list of messages back, we can not display a user friendly name or even a user profile image as we do not send back the list of users that we have generated.

**Describe the solution you'd like**
Split the return of the endpoint modal to the following
[code]

[2022-09-30 15:07] #22 closed

[2022-09-30 15:10] ageddesi commented on #16
I have just introduced a new chat endpoint in version v.0.11.0 , However I would like to extend this to include an endpoint that is not random data but instead a mocked real conversation.
Maybe we could look into generating a conversation between two bots :)

[2022-10-01 14:53] ageddesi commented on #20
We changed this to return data using fakers built in Unique. However it worked better when it was just using a new Set at the end of the function to remove duplicates

[2022-10-01 15:27] YasiOnFire commented on #45
Hi, may I work on this one?

[2022-10-01 15:32] ahmedsilat44 commented on #20
Hey @ageddesi I would like to work on this issue. Could you assign this to me and guide to what changes you want. Thanks 😄

[2022-10-01 15:39] ageddesi opened #46 "Update contributing guide with steps to add an api endpoint"
1. How to add an endpoint
2. How our folders are structured
3. How to add tests
4. How to add OpenAPI comments

[2022-10-01 15:39] ageddesi opened #47 "Update readme with guide to running the app"

[2022-10-01 15:43] ageddesi opened #48 "[New Mock] - Product"
Using a variety of helpers in faker and our own util methods create a endpoint for getting a qty of mocked products.

Faker starting point https://fakerjs.dev/api/commerce.html#color

[2022-10-01 15:44] ageddesi commented on #45
Hey @YasiOnFire I would love you to contribute. Go for it :)

[2022-10-01 15:46] ageddesi commented on #20
Hey @ahmedsilat44 no problem.

[2022-10-01 15:47] alberturria commented on #47
Hey @ageddesi could I work on this one?
I've seen that you already have a 'Getting started' section in your `Readme`, would you add this doc to that section?

[2022-10-01 15:48] ageddesi commented on #47
Hey @alberturria This is yours :)

[2022-10-01 15:49] Trigstur commented on #48
I’d love to try and implement this

[2022-10-01 15:51] ageddesi commented on #20
@ahmedsilat44 In the util file for getSpeciesOfAnimal you can see it returns a list of species, However this can turn out to not be a unique list, so the fix for this bug is to make sure it returns a unique list.

[2022-10-01 15:51] ageddesi commented on #48
This is yours :)

[2022-10-01 15:54] ahmedsilat44 commented on #20
Ok so I went to the history of the file and there was this return
return [...new Set(speciesList)];
would you like me to return this ?

[2022-10-01 15:56] ageddesi commented on #20
That would be great, Thank you :)
Nice quick win

[2022-10-01 16:02] ageddesi commented on #20
Thanks so much @ahmedsilat44 . All the best and happy Hacktoberfest.

[2022-10-01 16:02] #20 closed

[2022-10-01 16:21] YasiOnFire commented on #17
May I work on this one?

[2022-10-01 16:23] ageddesi commented on #45
Thanks @YasiOnFire for the contribution.

[2022-10-01 16:23] #45 closed

[2022-10-01 16:23] #47 closed

[2022-10-01 16:24] ageddesi commented on #47
Thanks so much @alberturria for the contribution. Happy Hacktoberfest

[2022-10-01 16:29] ageddesi commented on #17
Hi @YasiOnFire Absolutely :)

[2022-10-01 16:38] alberturria commented on #47
Thanks to you @ageddesi !!

[2022-10-01 16:54] utsav00 commented on #32
I'd like to take this up

[2022-10-01 16:55] Vishwak-Kiran commented on #18
I can take up this issue. How many products and its reviews do you need tho?

[2022-10-01 17:01] ageddesi commented on #18
Hi @Vishwak-Kiran . As with our other endpoints we can allow the user to define the qty.  Please see chat api endpoints as example.

Please branch from v.0.12.0

[2022-10-01 17:01] ageddesi commented on #32
It is yours, please branch from v.0.12.0

[2022-10-01 17:55] #17 closed

[2022-10-01 17:58] ageddesi opened #61 "Add an Album to music endpoint"
A user can request a random album which will include a response with the following data.

- Album Name
- Album Artist
- Date Released
- Price
- Publisher
- Random number of songs up to max 20

[2022-10-01 18:04] ageddesi commented on #61
Its all yours @jkol7

[2022-10-01 18:05] YasiOnFire commented on #15
I'm happy to do `/socials/twitter`

What are your thoughts on:
[code]

[2022-10-01 18:10] ageddesi commented on #15
@YasiOnFire That is great

[2022-10-01 18:13] utsav00 commented on #32
I was checking the linter configs out and tried running it. Observed that it is not setup correctly right now. Am I mistaken or should I fix it and push it?
In case of the latter option, shall I push this with the current PR or address it with a new issue?

[2022-10-01 18:14] ageddesi commented on #32
If you could fix it so it is setup correctly that would also be amazing :P

[2022-10-01 18:16] utsav00 commented on #32
Sure. Then I'll push with the same PR

[2022-10-01 19:00] ageddesi opened #62 "[New Mock] : Ecommerce Cart"
The user should be able to request a mocked cart with a 'n' number of products in it.

[2022-10-01 19:01] ageddesi opened #63 "[New Mock] : Invoice"
A user can hit an endpoint and receive a fake invoice

[2022-10-01 19:02] ageddesi opened #64 "[New Mock] : Bank Feed"
The user should be able to hit an endpoint that returns them a fake bank feed.

[2022-10-01 19:46] siddharth1729 commented on #64
Hii  @ageddesi

What i can understand is that i have to make and endpoint  "/bank_feed" , and it will return a json of bank feed ?

what will be the json of bank feed and all is that i have to decide or it will be dummy stuff

pleas help me with this isuu i want to contribute for hacktober 2022

[2022-10-01 19:50] ageddesi commented on #64
Hi @siddharth1729

This is correct, we need a new api endpoint

/bank/feed/

with some dummy data such as an

[code]

[2022-10-01 19:58] alexjharrison commented on #62
I'd like to be assigned this issue. What values would you expect to get back from this mock cart?

[2022-10-01 20:16] ageddesi commented on #62
Hey @alexjharrison Welcome aboard.
I was thinking a simple cart so an array such as

[code]

[2022-10-01 20:18] Sir-Martin-Esq-III commented on #4
Hey, I'd like to pick this up if possible.

[2022-10-01 20:20] ageddesi commented on #4
Hey @Sir-Martin-Esq-III This is yours.
The only requirement I would have is that each module can have its own test folder.
Thank you. 👍

[2022-10-01 20:49] siddharth1729 commented on #64
Hii @ageddesi

I have forked this repo and implemented this specfic api do let me know if any chnges in that api as i have imlemented in my own way as i use to write api in my company

[2022-10-01 20:49] ageddesi opened #69 "Auto Generate Swagger Docs"
Our api docs currently use Swagger and need to be manually generated. I would be great to automate these.

[2022-10-01 20:49] #7 closed

[2022-10-01 20:53] ageddesi commented on #64
Awesome @siddharth1729, please raise a PR to branch v.0.13.0 when you are ready. I will be reviewing the next batch of PRs tomorrow

[2022-10-01 21:05] siddharth1729 commented on #64
@ageddesi i have created a pull request please check and if not lt me now i will o it again

[2022-10-01 21:17] #48 closed

[2022-10-01 21:17] ageddesi commented on #48
Thanks @Trigstur for the awesome work on this. Happy Hacktoberfest

[2022-10-01 22:03] ageddesi commented on #4
Brilliant. That's what we wanted. Feel free to make a note of them in a ticket and mark as skip like you say. Then we can come back and fix them.

Appreciate the hard work.

[2022-10-01 22:18] janetthieu commented on #18
Hi @ageddesi, I'd like to contribute to this.

[2022-10-01 22:22] ageddesi commented on #18
Hi @janetthieu it's all yours. :)

[2022-10-02 01:22] kalwabed commented on #63
I'd like to be assigned this issue. What values would you expect to get back from this mock invoice?

[2022-10-02 01:31] kalwabed opened #75 "Prettier"
**Is your feature request related to a problem? Please describe.**
I struggle with formatting in this project with my existing Prettier (vscode) config.

**Describe the solution you'd like**
I think it would be great to have a Prettier configuration for this project, so we can go forward without worrying about formatting.

[2022-10-02 01:40] kalwabed commented on #75
Sorry, I'm usually using `.prettierrc` file, didn't see that config file (`.prettierrc.json`).

[2022-10-02 01:40] #75 closed

[2022-10-02 02:33] tzii commented on #69
I would like to working on this feature

[2022-10-02 03:23] fadkeabhi commented on #2
Is this something like giving random time-zone. If so I am in for this.

[2022-10-02 03:51] kalwabed commented on #63
what are your thoughts on

[code]

[2022-10-02 04:37] MiTo0o commented on #19
[unique](https://fakerjs.dev/api/unique.html) seems to be deprecated

[2022-10-02 06:55] ageddesi commented on #19
Aha thank you @MiTo0o for noticing that. :)

[2022-10-02 06:55] #19 closed

[2022-10-02 06:56] ageddesi commented on #19
https://github.com/all-contributors please add @MiTo0o for question

[2022-10-02 06:57] ageddesi commented on #69
hi @tzii, This is yours :)

[2022-10-02 06:59] ageddesi commented on #63
hi @kalwabed this ticket is yours.
That invoice looks like a great start for the endpoint. You will see we use faker in the code base to make the data random. 👍

[2022-10-02 07:03] ageddesi commented on #75
Hi @kalwabed, thanks for the message. there is a ticket someone is working on to add a git pre hook to make sure it is run before pushes.

[2022-10-02 08:52] DevilzzNikhil opened #81 "Adding News Feature"
We can Add feature of showing Fake Email Address with the name provided by the user @ageddesi

[2022-10-02 08:56] ageddesi commented on #81
Hi @DevilzzNikhil adding a new endpoint for this would be a nice idea. :)

[2022-10-02 09:30] zaibugemi commented on #5
@ageddesi I would like to take this on. Can you share what address details you would like to be returned from the endpoint? Also, do we want only a single endpoint that would return a random address detail?

[2022-10-02 09:52] ageddesi commented on #5
Hi @zaibugemi thank you. I would to start off with mock addresses for the UK format and the USA format.

[2022-10-02 09:58] cmjchrisjones opened #83 "Add Docker support"
The ability to run the project inside a docker container so that Node/NPM isn't required as a pre-requisite, and you have an isolated development environment. The only pre-requisite that would be required would be Docker.

[blog](https://auth0.com/blog/use-docker-to-create-a-node-development-environment/) with more information about the benefits of using Docker

[2022-10-02 11:14] ish-u commented on #83
Hello,
I would like to take this Issue.
I just have to create a docker-compose.yml file with the necessary configuration to start a container right ?

[2022-10-02 11:16] ageddesi commented on #83
Hi @ish-u there is already a PR in for this issue.

[2022-10-02 11:16] ish-u commented on #83
yeah sorry

[2022-10-02 12:45] kalwabed commented on #15
Will work in Instagram API. I started with the API post.

[2022-10-02 14:52] tzii commented on #14
Can you describe this mock in more detail?

[2022-10-02 17:14] talis-fb opened #89 "[New Mock] : Chemical Element"
A endpoint to return a random chemical element, with its symbol, name and atomic number. If possible, I'd like to be assigned to this issue.

[2022-10-02 18:00] ageddesi commented on #89
Hi @talis-fb this is yours. Go for it

[2022-10-02 19:48] ageddesi opened #93 "Create MR Action"
The action will check if all tests pass

[2022-10-02 19:49] #2 closed

[2022-10-02 19:49] #4 closed

[2022-10-02 19:55] saimaheshtaduri opened #95 "Adding Movies rating data"
**Is your feature request related to a problem? Please describe.**
API with a bunch of movie related content is useful and can also be used as a valid data for recommendation systems too.

**Describe the solution you'd like**
I could be better if it's about movie, rating and other information

[2022-10-02 19:57] ageddesi commented on #95
This could be a lot of fun, do you have an idea of the endpoints and the info that they will return

[2022-10-02 19:58] saimaheshtaduri commented on #95
I can start my research if you could assign to me as part of hacktoberfest. @ageddesi

[2022-10-02 20:09] #89 closed

[2022-10-02 20:10] ageddesi commented on #95
Its all yours :) 👍

[2022-10-02 20:13] #61 closed

[2022-10-02 20:13] #69 closed

[2022-10-02 20:19] #64 closed

[2022-10-02 20:21] #62 closed

[2022-10-02 20:21] #63 closed

[2022-10-02 20:36] siddharth1729 commented on #81
@ageddesi @DevilzzNikhil
Please do let me know more about this issue i want t work on this

[2022-10-02 20:43] #83 closed

[2022-10-02 21:51] ageddesi opened #102 "[OpenAPI] - BankFeed API Endpoints"
The bankfeed api endpoints need open api comments added

[2022-10-02 21:51] ageddesi opened #103 "[Tests] - BankFeed Module"
The bank feed module needs test added

[2022-10-02 21:53] ageddesi opened #104 "[Tests] - Color Module"
The Color module needs tests added

[2022-10-02 21:54] ageddesi opened #105 "[OpenAPI] - Ecommerce API Endpoints"
The ecommerce api endpoints need OpenAPI comments added for documentation

[2022-10-02 21:54] ageddesi opened #106 "[Tests] - Ecommerce Module"
The ecommerce modules needs tests adding

[2022-10-02 21:54] computamike commented on #104
adding tests might be something I could have a go at - will give it a go.

[2022-10-02 21:55] ageddesi opened #107 "[OpenAPI] - Elements API Endpoints"
The elements api endpoints need open api comments being added for documentation

[2022-10-02 21:55] ageddesi opened #108 "[Tests] - Elements Module"
The elements module needs tests adding

[2022-10-02 21:56] ageddesi commented on #104
@computamike Thanks mike. There is plenty of examples in the project now. Please branch from v.0.13.0 for the latest code base.
If you need any help just ask on here or on our discord. https://discord.gg/yxqrkjDR87

[2022-10-02 21:57] ageddesi opened #109 "[Tests] - Email Module"
The email module needs tests

[2022-10-02 21:58] ageddesi opened #110 "[OpenAPI] - Invoice API Endpoints"
The invoice api endpoints need openAPI comments added for documentation

[2022-10-02 21:59] ageddesi opened #111 "[Test] - Invoice Module"
The invoices module needs tests

[2022-10-02 22:00] ageddesi opened #112 "[OpenAPI] - Music API Endpoints"
The music api endpoints need OpenAPI comments for documentation

[2022-10-02 22:01] ageddesi opened #113 "[Tests] - Music Module"
The music module needs tests added

[2022-10-02 22:11] computamike opened #114 "Running a local instance of Mocked-API (swagger) still calls the main https://api.mocked-api.dev address"
**Describe the bug**
Running a local instance of Mocked-API (swagger) still calls the main https://api.mocked-api.dev address, sending network traffic to https://api.mocked-api.dev rather than http://localhost:3000 address (using the Swagger Interface).

**To Reproduce**
Steps to reproduce the behavior:
1. Clone main branch
2. Install dependencies `npm install`
3. Start the site `npm run serve`
4.

[2022-10-02 22:19] computamike commented on #114
Had a quick look - I think we can create a .env.example file with a host setting in (localhost:3000)  - and use that along with a fallback of "api.mocked-api.dev", meaning that if you deploy this code to a server without the .env file, then  host is "api.mocked-api.dev" - but if you have a .env file, then that host value is used instead.

The .env.example can be set up with localhost:3000 as the h

[2022-10-02 22:27] ATH42 commented on #112
i'd love to help out. Do you have a reference on how you want this?

[2022-10-02 23:00] ATH42 commented on #112
if my referenced PR is what was needed here, i'd be happy to tackle all other open api documentation tickets.

[2022-10-02 23:27] computamike commented on #114
ok - I have submitted a PR for this #116

[2022-10-03 05:09] kalwabed commented on #111
I will try to work on this.

[2022-10-03 06:45] ageddesi commented on #112
Thank you @ATH42 That was perfect. 👍

[2022-10-03 06:45] #112 closed

[2022-10-03 06:51] ageddesi opened #120 "[Tests] - Phone numbers module"
The phone numbers module need tests added.

[2022-10-03 06:53] ageddesi opened #121 "Define and clean up folder/files names"
At the moment the files and folders are using different naming conventions and case types.
- [ ] - Define the standards
- [ ] - Update the contribution guide to include these standards
- [ ] - Update existing folders and files to be inline.

![image](https://user-images.githubusercontent.com/1301564/193517054-68a18eb3-df0e-4579-a4a9-77621771b7be.png)
![image](https://user-images.githubusercontent.

[2022-10-03 06:55] ageddesi opened #122 "[OpenAPI] - Products API Endpoints"
There is a few endpoints in the products module that are missing OpenAPI comments.

[2022-10-03 06:56] ageddesi opened #123 "[Tests] - Products Module"
There is missing gaps of testing in the products module

[2022-10-03 06:56] ageddesi opened #124 "[Tests] - Quotes Module"
The quotes modules is missing tests

[2022-10-03 06:57] ageddesi opened #125 "[Tests] - Socials Endpoint"
The socials endpoint is missing tests

[2022-10-03 06:58] ageddesi opened #126 "[OpenAPI] - TimeZones Api Routes"
The Timezones api endpoints are missing OpenAPI comments

[2022-10-03 06:59] ageddesi opened #127 "[Tests] - Timezones Module"
The timezones module is missing tests

[2022-10-03 06:59] ageddesi opened #128 "[OpenAPI] - Users Api Endpoint"
The users api endpoints are missing OpenAPI comments

[2022-10-03 07:00] ageddesi opened #129 "Node.js 12.x is EOL'ed Upgrade to 16.x"
This is in relation to our docker file.

        Node.js 12.x is EOL'ed  I'd change this to 16.x
https://nodejs.dev/en/download/

_Originally posted by @benhalverson in https://github.com/ageddesi/Mocked-API/pull/72#discussion_r985304443_

[2022-10-03 07:01] vancassa commented on #124
Hi, may I try working on this?

[2022-10-03 07:13] Suraj-Bhandarkar-S commented on #120
Hi, So test here means test cases for the api in use right ?

-  To create a test case for the api to check if the returned values are correct ?

[2022-10-03 07:16] ageddesi commented on #120
That is correct @Suraj-Bhandarkar-S and if those api return failure states those are also tested. Their is examples in the codebase already you can look at for help.

[2022-10-03 07:17] Suraj-Bhandarkar-S commented on #120
Great thanks will look it up :)

[2022-10-03 07:20] VadimDez commented on #128
Can you assign this issue to me?

[2022-10-03 07:22] Suraj-Bhandarkar-S commented on #120
Also, I am not able to find the phone number module could you please confirm?

[2022-10-03 07:23] ageddesi commented on #120
All the latest is on branch v.0.13.0 sorry I forgot to mention to Branch from there. Also if you need any help feel free to message here or on our discord channel. https://discord.gg/6UaxgtsM

[2022-10-03 07:24] ageddesi commented on #128
Hey @VadimDez no problem, this is yours. If you can branch from v.0.13.0 that would be awesome. If you need any help feel free to message here or on our discord channel https://discord.gg/6UaxgtsM

[2022-10-03 11:04] #111 closed

[2022-10-03 11:09] ageddesi commented on #14
hi @tzii we need to flesh it out. But for example. https://etherscan.io/ Has lists that display latest blocks, latest transactions etc. It would be good to make fake end points for them.

[2022-10-03 11:52] kalwabed commented on #125
I'll work on this.

[2022-10-03 11:59] ageddesi commented on #125
Thanks @kalwabed

[2022-10-03 13:25] ageddesi commented on #122
hi @AnishDe12020 absolutely, please branch from v0.13.0 for the latest code and if you need any help reply here or join us on our discord https://discord.gg/6UaxgtsM

[2022-10-03 13:27] ageddesi opened #135 "Setup dev branch"
once branch v0.13.0 is released. Set up a new branch to be the main branch called 'dev' then use only 'main' to be the branch that is deployed.

[2022-10-03 14:00] ageddesi opened #137 "Add Qty Limits"
In order to protect the system from someone just saying give me 1million results and killing the API, we should add a max qty to the getQtyFromRequest function used by the endpoints.

I say for the first instance we set this to only 100 and see how that goes.

[2022-10-03 15:53] ageddesi commented on #122
Thank you @AnishDe12020 for the contribution. Happy Hacktoberfest.

[2022-10-03 15:53] #122 closed

[2022-10-03 15:54] ageddesi commented on #122
@all-contributors add @AnishDe12020 doc

[2022-10-03 16:01] ageddesi commented on #81
@DevilzzNikhil
Are we saying a new endpoint, where the user can provide the first name or the first and second name and the end point adds a @domain.com etc to the name?

[2022-10-03 16:51] siddharth1729 commented on #81
@ageddesi
Ok i can write a function that takes 2 argument and then returns a concatination string like a real mail ?

Am i right ?

[2022-10-03 17:02] DevilzzNikhil commented on #81
@ageddesi  yes you got it right
like if user provide mohit and sharma then email will return fake email like
sharmaMohit@xyz.com
Should i work on these or think og something else

[2022-10-03 17:27] ageddesi commented on #81
@DevilzzNikhil you can work on this as you were first on the ticket. :)

[2022-10-03 17:38] siddharth1729 commented on #137
@ageddesi

I this kind of paginated api ?

pleas assign this to me

[2022-10-03 17:43] ageddesi commented on #137
@siddharth1729 there is no pagination as its random data. Just the limit is needed adding.

[2022-10-03 18:06] vaibhavg20comp commented on #137
Can I work on this issue ?

[2022-10-03 18:08] vaibhavg20comp commented on #137
I have made a PR regarding this #142

[2022-10-03 20:19] #137 closed

[2022-10-03 23:45] computamike commented on #129
Current node supported versions are [here](https://github.com/nodejs/release#release-schedule)

Additionally, we can specify supported node version in the package,json file - which might be beneficial.

[2022-10-04 02:22] darkl1ght commented on #123
I will try this out. Kindly assign this to me.

[2022-10-04 04:57] AnishDe12020 commented on #107
Can I take up this issue?

[2022-10-04 04:57] AnishDe12020 commented on #105
I would like to take up this issue, can you please assign it to me?

[2022-10-04 06:38] fms12 commented on #121
can you assign me this

[2022-10-04 06:44] fms12 commented on #135
can you assign it to me? please tell me how can I do this because I'm new to it

[2022-10-04 07:22] #114 closed

[2022-10-04 07:22] ageddesi commented on #114
Thanks @computamike 👍

[2022-10-04 07:25] ageddesi commented on #121
Hi @fms12 Feel free to start the discussion on this post about what standards we should follow and once we all agree you can do the work involved.

[2022-10-04 07:26] ageddesi commented on #105
Thank you @AnishDe12020 this is now assigned to you.

[2022-10-04 07:26] ageddesi commented on #123
Hi @darkl1ght thank you, this is now assigned to you

[2022-10-04 07:27] ageddesi commented on #129
We should do that :), Will mark this ticket as open for people to claim

[2022-10-04 07:33] ageddesi commented on #123
Please branch from v.0.13.0 for the latest code base, if you need help just leave a comment here or join us on discord https://discord.gg/6UaxgtsM 👍

[2022-10-04 07:33] ageddesi commented on #105
Please branch from v.0.13.0 for the latest code base, if you need help just leave a comment here or join us on discord https://discord.gg/6UaxgtsM 👍

[2022-10-04 08:24] benhalverson commented on #129
I have this ready but the Dockerfile doesn't exist in the main branch yet. Do you want me to branch of the `v.0.13.0` branch

[2022-10-04 08:26] fms12 commented on #121
we can add modules name like  that "chat-module" and for files, we can just like that  "CurrencyRouters"

[2022-10-04 08:39] kk5190 opened #151 "Add a vehicle endpoint"
**Is your feature request related to a problem? Please describe.**
A vehicle endpoint that returns a list of vehicle-related entries.

**Describe the solution you'd like**
Create an enpoint /vehicles which generates vehicle related entries.

[2022-10-04 08:58] ageddesi commented on #151
This sounds like a great endpoint to add. Do you have an idea of the data that needs returning?

[2022-10-04 09:35] kk5190 commented on #151
yes, below is the example

[code]

[2022-10-04 11:02] #125 closed

[2022-10-04 13:02] AnishDe12020 commented on #105
Seems like both the ecommerce routes have the same functionality (the second one takes in a quantity as a parameter)

https://github.com/ageddesi/Mocked-API/blob/a5311f6649dd94222e6f49fc1f847093fcf75320/modules/ecommerce/api/ecommerce-routes.ts#L8-L18

Should I add the functionality in the second route to return a list of carts of the given quantity?

[2022-10-04 18:37] #105 closed

[2022-10-04 18:44] siddharth1729 commented on #102
Hii @ageddesi  pleas assign this to me

and also please elplain a bit more about this

[2022-10-04 18:46] ageddesi commented on #102
Hi @siddharth1729 if you look at branch v.0.13.0 where the latest code lives you will see that other endpoints have OpenAPI comments within the api routes files. The task for this is to update the bank-feeds api route file to have its comments added.

[2022-10-04 18:48] siddharth1729 commented on #102
ok means i have to properly comment he bankfeed api like other is dne in the project ?

[2022-10-04 18:49] ageddesi commented on #102
Yes please, that would be ace. We use this to auto generate the swagger file now.

[2022-10-04 19:05] hritikkhurana10sm commented on #151
Can you please assign this issue to me

[2022-10-04 21:50] GuilhermeFernandes01 opened #159 "Sports endpoint amount filter doesn't work properly"
**Describe the bug**
Endpoint `/sports/football/leagues/premier/teams` should expect `qty` path parameter to return the amount of results wanted but it doesn't work. It always returns all teams.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ['/sports/football/leagues/premier/teams'](https://api.mocked-api.dev/#/Sports/get_sports_football_leagues_premier_teams) endpoint
2. Try to call

[2022-10-05 04:08] nibih commented on #159
hi, can i take a crack at this?

[2022-10-05 07:35] ageddesi commented on #159
Hi @GuilhermeFernandes01
Thanks for the suggestions. This would be a great fix and addition to the API. We have a helper function for the qty from url params. so please use this. getQtyFromRequest

The latest branch is v0.13.0 and if you need any help feel free to message here or join our discord channel. https://discord.gg/6UaxgtsM

Maybe you could give one of the leagues to add to @nibih

[2022-10-05 07:35] ageddesi commented on #129
hi @benhalverson yes please v.0.13.0 is our current main branch

[2022-10-05 07:38] nibih commented on #109
can I take this? @ageddesi

[2022-10-05 07:39] kalwabed commented on #113
I'll be working on this one.

[2022-10-05 08:21] ageddesi commented on #109
hi @nibih Yes, you got it. Please branch from v.0.13.0 for the latest code.
If you need any help please message here or join our discord. https://discord.gg/6UaxgtsM

[2022-10-05 08:22] ageddesi commented on #113
hi @kalwabed Yes, you got it. Please branch from v.0.13.0 for the latest code.
If you need any help please message here or join our discord. https://discord.gg/6UaxgtsM

[2022-10-05 11:08] #109 closed

[2022-10-05 12:00] ageddesi commented on #108
This is yours @nibih

[2022-10-05 13:12] ageddesi commented on #151
Hi @hritikkhurana10sm this has been added but if you can think of any ways you would like to extend the API please do let us know.

[2022-10-05 14:03] #108 closed

[2022-10-05 15:32] mdfarhaan opened #164 "Add a coordinates endpoint"
**Is your feature request related to a problem? Please describe.**
A coordinates endpoint that returns a list of coordinates in the real world.

**Describe the solution you'd like**
Create an endpoint /coordinates which generates coordinates related entries.

[2022-10-05 17:18] nibih commented on #16
could you explain a bit more about what you mean by generating a conversation between two bots?

[2022-10-05 20:09] ageddesi commented on #164
This is a great idea. :) we could have multiple end points

/location/co-ordinates/random/:qty
/location/co-ordinates/country/:qty

[2022-10-05 20:13] ageddesi commented on #113
Thank you @kalwabed for the work on this. Happy Hacktoberfest 👍

[2022-10-05 21:52] kalwabed commented on #113
Thank you @ageddesi 👍

[2022-10-05 22:11] ageddesi commented on #26
Testing this

[2022-10-05 22:23] ageddesi opened #167 "Need New SVG Icons"
As we gather more categories, the HeroIcons I am using are not covering all of them, so we need to spend time creating our own icons for the main website

![image](https://user-images.githubusercontent.com/1301564/194174793-ea267ef1-ae42-4850-83ba-9e1522ad36f3.png)

[2022-10-06 00:24] edwardsmoses commented on #106
Hello,
I'll like to work on this. Could I get assigned?
Thanks.

[2022-10-06 01:14] edwardsmoses commented on #106
Hello,
For this endpoint, I noticed that the openapi definitions are different from what the endpoint returns.
Should I update the openapi definitions or update the endpoint to return what the openapi definitions specify?

Thanks.

[2022-10-06 03:07] mdfarhaan commented on #164
I would like to take this. Can you assign it to me.

[2022-10-06 03:19] bmusuko commented on #103
hey can I work on this issue?

[2022-10-06 06:47] ageddesi commented on #106
Hi @edwardsmoses, thank you for the tests you added, If you want to do another pull for updating the OpenAPI definitions. I would really appreciate the help. 👍

[2022-10-06 06:47] ageddesi commented on #164
This is all yours @mdfarhaan

[2022-10-06 06:49] ageddesi commented on #103
Hi @bmusuko this is all yours :) 👍 If you need any help just message here or join us on our discord channel https://discord.gg/6UaxgtsM

[2022-10-06 06:51] ageddesi commented on #16
At the moment we have a chat endpoint that returns messages that are random strings.

I was thinking as an experiment of playing around with AI was to create a chat bot and then get 2 versions of it to chat for a little while and see what the output would be, then if any good I would use it as a real mocked data version of the endpoint.

[2022-10-06 09:52] #103 closed

[2022-10-06 12:06] darkl1ght commented on #123
Hi @ageddesi can you check if the ratings api work? for me it sends a web page which is blank. Post that only I will be able to write test case for that end-point.

Also, I am not able to console log any stuff. Why is that?

[2022-10-06 14:59] darkl1ght commented on #123
Hi @ageddesi , I have raised a PR fixing the issues for the endpoint too. Kindly check.

[2022-10-06 21:32] edwardsmoses commented on #106
Hi @ageddesi ,
Thanks - I'll get on updating the OpenAPI definitions.

[2022-10-06 22:36] bpvcode commented on #46
Hello,

Can I work on this issue?
Can you assign this to me?

Thanks :)

[2022-10-07 18:41] #5 closed

[2022-10-07 20:17] devvspaces opened #176 "Add tests for quotes module"
**Is your feature request related to a problem? Please describe.**
The Quotes module does not have tests for it

**Describe the solution you'd like**
I would love to write the tests for the quotes module.

[2022-10-08 10:48] ageddesi opened #180 "status endpoint update"
I would like it so that we add to new values to the status endpoint.

totalCategories : this is the total number of categories (apis)
totalEndpoints: this is the the total number of endpoints in total within the categories

[2022-10-08 10:50] #129 closed

[2022-10-08 17:41] devvspaces commented on #180
hi @ageddesi , i would like to do this, can you assign me

[2022-10-08 17:41] devvspaces commented on #176
hi @ageddesi , please can you assign me this?

[2022-10-08 17:52] ageddesi commented on #176
Hi @devvspaces This ticket already exists. You can leave a message on there to see if the current assignee is still working on it. https://github.com/ageddesi/Mocked-API/issues/124

[2022-10-08 17:52] #176 closed

[2022-10-08 17:53] #164 closed

[2022-10-09 05:55] nibih commented on #16
i think it would be more useful to have random strings of various lengths, ranging from 1 word to a whole paragraph. so that users can see if their chat system is accommodating to both short and long chats

[2022-10-09 07:23] Kanika2772002 commented on #127
hey , thrilled to contribute over there , @ageddesi can u assign me

[2022-10-09 12:33] GuilhermeFernandes01 commented on #159
Hi @nibih, sure. You could get the fix on '/sports/football/leagues/premier/teams' endpoint if you want to. I've just opened a PR #185 with La Liga endpoint implementation and created a helper function to return a random subarray. You could use it `getRandomSubArray`.

Hey @ageddesi would be valid add a hacktoberfest label here? 😄

[2022-10-09 18:54] ageddesi commented on #127
Hey @Kanika2772002 this is all yours, welcome to the party 👍

[2022-10-09 18:54] ageddesi commented on #16
@nibih that could be interesting.

[2022-10-09 18:55] ageddesi commented on #180
Hey @devvspaces This is all yours, welcome to the party 💯

[2022-10-09 18:55] ageddesi commented on #46
Hi @bpvcode This is all yours :) welcome to the party.

[2022-10-09 21:00] amanksingh99 commented on #121
I can work on this if it is not assigned to anyone.
After going through the codebase I would suggest keeping **kebab-case** as the naming convention for both files and folders as this is a nodejs project.

[2022-10-10 07:26] ageddesi commented on #121
Does anyone know of a good coding standards doc we can reference for node projects.

[2022-10-10 09:37] devvspaces commented on #180
thanks, i will get to it

[2022-10-10 11:27] RizkyRajitha commented on #15
hi @ageddesi i would like to work on Facebook api

[2022-10-10 12:09] RizkyRajitha commented on #167
hi @ageddesi what icons are currently using

[2022-10-10 12:17] ageddesi commented on #167
We are currently using heroicons

[2022-10-10 12:23] RizkyRajitha commented on #167
have you tried fontawesome . it has a large collection of icons
https://fontawesome.com/search

[2022-10-10 12:36] fms12 commented on #121
https://nodejs.dev/en/learn/ you can use this one also.

[2022-10-10 12:37] devvspaces opened #186 "App not running"
**Describe the bug**
App not running both on docker and normal execution. It gives the error `[nodemon] clean exit - waiting for changes before restart` without starting the server to listen at port `3000`.

**To Reproduce**
Steps to reproduce the behavior:
1. fork the repository
2. git clone <your fork url>
3. cd into repo directory
4. run `npm install`
5. run `npm run config`
6. run `npm run ser

[2022-10-10 13:45] #186 closed

[2022-10-10 17:28] amanksingh99 commented on #121
@ageddesi https://stackoverflow.com/questions/18927298/node-js-project-naming-conventions-for-files-folders the first two answers.

[2022-10-11 03:50] devvspaces opened #192 "Errors in API endpoint tests triggering false tests failures"
**Describe the bug**
Found serious bug issue concerning the way api endpoint tests are being run. This issue seriously affects the GitHub actions, it's causing most api tests to fail. Other tests are failing because of ` error TS2304: Cannot find name 'baseURL'`

**To Reproduce**
Steps to reproduce the behavior:
1. clone repo
2. npm install
3. npm test

**Expected behavior**
You should see most te

[2022-10-11 03:51] devvspaces commented on #192
I would like to be assign this @ageddesi

[2022-10-11 04:13] devvspaces commented on #21
also for like generating fake names and values?

[2022-10-11 04:27] devrrior commented on #93
Hi! Is this issue already resolved?

[2022-10-11 04:34] ageddesi commented on #180
Thanks for the work on this @devvspaces 👍

[2022-10-11 04:34] #180 closed

[2022-10-11 04:49] #192 closed

[2022-10-11 05:07] ageddesi commented on #93
Hey @devrrior yes sorry, this has been left open by mistake. 👍

[2022-10-11 05:07] #93 closed

[2022-10-11 05:09] ageddesi commented on #21
I have moved this to a discussion https://github.com/ageddesi/Mocked-API/discussions/195 because I would like to talk about and explore this idea further @devvspaces

[2022-10-11 05:09] #21 closed

[2022-10-11 05:12] ageddesi commented on #10
Rate limiting is used to control how many requests a given consumer can send to the API.

To tell your API users how many requests they have left, set the following headers:

X-Rate-Limit-Limit, the number of requests allowed in a given time interval
X-Rate-Limit-Remaining, the number of requests remaining in the same interval,
X-Rate-Limit-Reset, the time when the rate limit will be reset.

[2022-10-11 05:13] ageddesi commented on #10
https://www.geeksforgeeks.org/what-is-express-rate-limit-in-node-js/

[2022-10-11 05:16] ageddesi commented on #10
Rate Limit
Requests through the API are rate limited per IP Location. Current rate limits:

1,000 requests per hour
50 requests per minute (5% of the hourly total)

Once you exceed either limit, you will be rate limited until the next cycle starts. Space out any requests that you would otherwise issue in bursts for the best results.

The rate limiting information is contained within the response h

[2022-10-11 08:26] ageddesi commented on #167
Will have to take a look unless someone has time to match up a set of icons
with the categories on the issue's image

On Mon, 10 Oct 2022 at 13:24, Rajitha Gunathilake ***@***.***>
wrote:

[2022-10-11 08:46] ageddesi opened #199 "Update Address endpoint to return an Address Object"
Currently the address returned is a string and not an Object.

[2022-10-11 13:53] ageddesi commented on #167
Sadly its in another private repo. If you want to update it you can just provide the code.

This is the code as it is (uses tailwind)

[code]

[2022-10-11 15:38] devrrior commented on #199
Hi, if it doesn't bother you, could you assign me this issue? Thanks

[2022-10-11 15:43] ageddesi commented on #199
Hi, this one is already in progress. Sorry

[2022-10-11 15:45] devrrior commented on #199
No problem. I’ll keep waiting for new issues 😃

[2022-10-11 17:44] the-Shallow opened #201 "Error while starting the app"
Here's the report:
mocked-api-mocked-api-1  |
mocked-api-mocked-api-1  |
mocked-api-mocked-api-1  |  Error in ./modules/address/api/address-routes.ts :
mocked-api-mocked-api-1  | YAMLSemanticError: Plain value cannot start with a tab character at line 9, column 1:
mocked-api-mocked-api-1  |
mocked-api-mocked-api-1  |                 schema:
mocked-api-mocked-api-1  | ^^^^^^^^^^^
mocked-api-mocked-

[2022-10-11 18:00] timothee-durand commented on #16
Hello,
 i'd like to work on that, could I get assigned ?
Thanks !

[2022-10-11 21:39] lsheltonSTO commented on #18
Hi @ageddesi , do you need more contributions to this for Hacktoberfest?

[2022-10-11 21:45] lsheltonSTO commented on #18
I'm still very much a rookie at this but I used to teach English so I can come up with a bunch of nonsense if you have something to assign to me @ageddesi !

[2022-10-11 21:47] ageddesi commented on #18
That sounds awesome. Feel free to take a crack at this ticket. :) the more
fun and real they sound the better as atm they will be random Latin
strings. :(

On Tue, 11 Oct 2022, 22:45 Lindsay Shelton, ***@***.***>
wrote:

[2022-10-11 21:47] lsheltonSTO commented on #18
Well, I also took 2 years of Latin in high school ;)

[2022-10-11 21:49] ageddesi commented on #18
Haha, well your fully setup for this kind of work then lol.

On Tue, 11 Oct 2022, 22:47 Lindsay Shelton, ***@***.***>
wrote:

[2022-10-11 21:51] lsheltonSTO commented on #18
Are you looking for more fake reviews on the one product, or more products with their own fake reviews/categories/etc?

[2022-10-11 21:55] ageddesi commented on #18
I am looking to expand to a variety of products and fake reviews. The more
the merrier, so will be keeping this ticket open for a long time I imagine.

On Tue, 11 Oct 2022, 22:52 Lindsay Shelton, ***@***.***>
wrote:

[2022-10-12 03:59] Vishwamagdavan commented on #10
Hi @ageddesi, Please assign me this task; I'd like to do it.

[2022-10-12 06:36] ageddesi commented on #10
Hi @Vishwamagdavan that would be great thank you. Please can you make sure the limits can be configured via the .env file. 👍 Good luck, if you need any help message me here or join us on discord. https://discord.gg/WEtvwvQ7

[2022-10-12 06:37] ageddesi commented on #16
Hi @timothee-durand this is yours. 👍 If you need any help message here or join us on discord. https://discord.gg/WEtvwvQ7

[2022-10-12 07:26] timothee-durand commented on #16
Ok thanks !

[2022-10-12 11:21] ageddesi commented on #167
I love these icons, shame about the price. https://myicons.co/

[2022-10-12 12:14] devvspaces commented on #201
Yes its' yaml error

[2022-10-12 12:14] devvspaces commented on #201
I am currently working on it

[2022-10-12 12:19] ageddesi commented on #201
Thanks @devvspaces

[2022-10-12 16:41] RizkyRajitha commented on #167
yeah 135$

[2022-10-12 17:57] #15 closed

[2022-10-12 18:22] jonathlan commented on #18
Hello !

I'm new to hacktoberfest and should be able to help with this too.

Just to clarify, we need to add more reviews to this file `modules/products/data/product-reviews.ts` ?
Does the language matter?

Thanks !

[2022-10-12 18:36] ageddesi commented on #18
Welcome @, yes more are welcome. We do jot have other languages yet. But want to open that up soon.

[2022-10-12 18:39] jonathlan commented on #18
Great, I will share a few in English then.
Awesome project, btw!

[2022-10-13 03:15] devrrior opened #206 "[New Mock]: Movies/Films"
An endpoint that returns a list of movies, each movie could have the following attributes:
- name
- description
- URL image
- release date
- director
- genres

If it's possible, I'd like to be assigned to this issue.

[2022-10-13 06:59] #201 closed

[2022-10-13 07:00] ageddesi commented on #206
This could be fun, lets do it 👍, its yours.

[2022-10-13 07:07] #199 closed

[2022-10-13 07:32] ageddesi opened #211 "Deployment Failure."
Oct 13 08:21:12 AM  ==> Running build command 'npm install'...
Oct 13 08:21:14 AM  npm ERR! code EBADPLATFORM
Oct 13 08:21:14 AM  npm ERR! notsup Unsupported platform for fsevents@2.3.2: wanted {"os":"darwin","arch":"any"} (current: {"os":"linux","arch":"x64"})
Oct 13 08:21:14 AM  npm ERR! notsup Valid OS:    darwin
Oct 13 08:21:14 AM  npm ERR! notsup Valid Arch:  any
Oct 13 08:21:14 AM  npm ERR!

[2022-10-13 08:23] benhalverson commented on #167
https://react-icons.github.io/react-icons/
This covers all the different popular icons in one package. Everything from bootstrap to material UI to font-awesome

[2022-10-13 12:43] bmusuko commented on #211
can I try to fix this one?

[2022-10-13 14:28] ageddesi commented on #211
I have now resolved this issue. For us it was Jest dependency. As we do not need this when deploying I marked it as a optional dependency in our package.json.

[code]

[2022-10-13 14:28] #211 closed

[2022-10-13 15:54] devrrior commented on #206
Is there a problem if I use static data? So that dynamic data is added by web scraping later on, as a new feature.

[2022-10-13 18:16] azulverdosa commented on #18
Hi there @ageddesi ,

Another newby looking to help out! I see you're looking for new products, with fake reviews, added to this file: modules/products/data/product-reviews.ts . Anything else to mention?

Thanks!

[2022-10-13 18:53] ageddesi opened #213 "Swagger -> Markdown"
Currently our API uses OpenAPI commenting to generate a swagger document.
I would like this to be converted into markdown so that we can use it as pages on the website itself and make the pages fit in with the rest of the sites design.

[2022-10-13 19:42] ageddesi commented on #18
Yerp feel free to add more. Either same products or new.

[2022-10-14 02:45] cweave commented on #14
I'll add some for XRP (Ripple) https://xrpscan.com/

Add one to get a list of random validated ledgers and a view of a transaction

[2022-10-14 08:25] #18 closed

[2022-10-14 08:27] ageddesi commented on #14
@cweave That is awesome :) Thank you

[2022-10-14 08:28] ageddesi commented on #206
@devrrior for now static data is best. :)

[2022-10-14 15:05] #10 closed

[2022-10-14 16:14] sirdikshit commented on #213
Hey @ageddesi I want to work on this task and I think I am capable of doing it. Please assign this task to me.

[2022-10-14 16:18] Vishwamagdavan commented on #13
Hello, @ageddesi Could you please elaborate more? 😃

[2022-10-14 16:20] ageddesi commented on #13
I need to look into a way to hook api metrics into different 3rd parties. For example google analytics. Plausible, fathom etc. So that we can measure usage of each end point

[2022-10-14 16:20] ageddesi commented on #213
Awesome. :) 😀

[2022-10-15 05:46] mdmuaj13 opened #218 "News Api"
Hey there,
We can add tech news API. A news list and single news endpoint would be good enough for now.

Each news object could have the following attributes:
[code]

If it's possible, I'd like to be assigned to this issue.

[2022-10-15 13:40] NNL-Keerthana commented on #167
Hi!, is this issue resolved? Else 1 would like to work on this

[2022-10-15 13:42] NNL-Keerthana opened #219 "The 'Visit our Github' button is not working"
**The Bug**
The 'Visit our Github' button on the website is not working

![git1](https://user-images.githubusercontent.com/96995729/195989645-4b4ddfbc-6352-41bb-9ffb-3e7db3c0f0de.png)

[2022-10-15 13:43] NNL-Keerthana commented on #219
I would like to fix this. Please assign it to me.

[2022-10-15 18:49] sherlyfebrianti96 commented on #121
Hi is it okay if i do this work?

I would like to propose this :
- Using PascalCase for the folders, and keep the naming simple
  - e.g :
    - time_zones -> Timezones
    - phone-numbers -> Phones
- Using PascalCase for the filenames
- Restructuring the files
  - **Before :**
    - Modules
      - Address/animal/etc (not-standardized yet)
        - api
          - file-routes.ts (not-standardized

[2022-10-15 18:55] sherlyfebrianti96 commented on #121
Hi is it okay if i do this work?

I would like to propose this :
- Using kebab-case for the folders, and keep the naming simple
  - e.g :
    - time_zones -> timezones
    - phone-numbers -> phones
- Using kebab-case for the filenames
- Restructuring the files
  - **Before :**
    - Modules
      - Address/animal/etc (not-standardized yet)
        - api
          - file-routes.ts (not-standardized

[2022-10-15 19:17] sherlyfebrianti96 commented on #135
Is this task still valid? because i saw the current repository has been using 'dev' branch as default.

[2022-10-15 19:19] sherlyfebrianti96 commented on #219
I don't think it's related to this repository 🤔

[2022-10-15 19:27] ageddesi commented on #121
Hi @sherlyfebrianti96 I am happy with the changes you have mentioned and what we have discussed in Discord. Please feel free to take this ticket on 👍

[2022-10-15 19:29] sherlyfebrianti96 commented on #121
**Update :**

The Interfaces/Types will be treated the same as `utils` folder.
So it will be :

- Modules
  - address/animal/timezones (kebab-case)
    - address/animal/timezones.routes.ts (kebab-case) -> This is for APIs
    - models (kebab-case)
      - address/animal/timezones.types.ts (kebab-case)  -> This is for Interfaces/Types
    - utils (kebab-case)
      - util-name-1.ts (kebab-case)

[2022-10-15 19:34] ageddesi commented on #219
Hi @NNL-Keerthana, thanks for raising this bug, I will take a look at this because as mentioned above this is not in this repo.

[2022-10-15 19:35] ageddesi commented on #135
Hi @sherlyfebrianti96, sorry this should have been closed lol. Thanks

[2022-10-15 19:35] #135 closed

[2022-10-15 19:36] ageddesi commented on #167
Hi @NNL-Keerthana This has not bee resolved, you can see from the code above how the html needs to be laid out. I just need new SVGs added.

[2022-10-15 19:37] ageddesi commented on #218
hi @mdmuaj13,
I am happy for you to work on this.

[2022-10-15 19:49] ageddesi commented on #219
This is now fixed and deployed.

[2022-10-15 19:49] #219 closed

[2022-10-15 20:00] ageddesi opened #221 "Add version to /status"
I would like to update the status api to include the current API Version.

[2022-10-15 22:10] mau211 commented on #221
Hi, I'd like to take this up. Where am I getting the version from? is it package.json line 3?

[2022-10-15 23:42] sherlyfebrianti96 commented on #121
https://github.com/ageddesi/Mocked-API/pull/222

[2022-10-16 03:55] mdmuaj13 commented on #218
thanks, @ageddesi. Can you mark it as **hacktoberfest** label?

[2022-10-16 09:41] mdmuaj13 commented on #218
@ageddesi PR submitted.
#223

[2022-10-16 11:23] ageddesi commented on #221
Thank you :) Assigned

[2022-10-16 20:19] #218 closed

[2022-10-17 05:10] RizkyRajitha opened #229 "Add more details about a country to /country api"
**Is your feature request related to a problem? Please describe.**
currently we get only an array of country name
![mokeapi](https://user-images.githubusercontent.com/38534289/196093344-078be56e-6090-4a56-ab4b-ed95e2a213da.png)

**Describe the solution you'd like**

return array of objects with country details

[code]

Thank you

[2022-10-17 06:06] NNL-Keerthana commented on #167
Hi, I did change some icons. How should I send the code just comment here or PR???

[2022-10-17 08:30] ageddesi opened #230 "Move all code to a new /src folder"
Currently all the code for the app lives in the top level alongside the main project folder which contains all the project setup files.
We should move all code into a new /src folder

[2022-10-17 08:31] ageddesi commented on #229
This would be a nice addition to the data.

[2022-10-17 09:12] ageddesi opened #231 "Create new markdown files for examples"
On the website I would like to include example of how to use the API.

This should be in the form of markdown files.
If we can embed live examples as well this would be great.

[2022-10-17 10:46] RizkyRajitha commented on #229
i will work on this @ageddesi

[2022-10-17 21:23] computamike opened #236 "Chuck Norris Endpoint"
**Is your feature request related to a problem? Please describe.**
No - it's an endpoint suggestion.  Hitting the end point returns a random Chuck Norris fact.

**Describe the solution you'd like**
A Chuck Norris Fact Endpoint

**Describe alternatives you've considered**
There is no alternative to Chuck Norris - this is common Knowledge

**Additional context**
Here is a picture of Chuck Norris
![i

[2022-10-17 21:46] computamike commented on #213
@ageddesi - is this in addition to the existing swagger document, or would the markdown replace the existing swagger document?  I kind of like swagger as an interface to directly use the API right in the browser.

If you're going for markdown pages - can I suggest that we look at Hugo / GitHub pages for storing that markdown content?

[2022-10-18 08:58] ageddesi commented on #213
If we can style the docs that would be ace. I wanna bring them inline with the main site design.

[2022-10-18 08:59] ageddesi commented on #236
Do it

[2022-10-18 12:09] sirdikshit commented on #213
@ageddesi Can we have a meet regarding this task. I need to discuss the requirements.

[2022-10-18 20:23] #229 closed

[2022-10-18 20:37] computamike opened #239 "Quantity specified as text returns 100 items"
**Describe the bug**
For some endpoints such as color (other end points may be affected) calling /colors/foo will return 100 colors.  This maybe should throw an exception, or return a single record.

**To Reproduce**
Steps to reproduce the behavior:
1. Start the server
2. Navigate to http://[localhost:3000/colors/1](http://localhost:3000/colors/1)
3. See that 1 record is returned
4. Navigate to ht

[2022-10-18 21:18] #104 closed

[2022-10-18 21:21] #124 closed

[2022-10-18 21:26] #221 closed

[2022-10-19 01:17] cweave opened #242 "Sort Schemas A=>Z"
**Is your feature request related to a problem? Please describe.**
It would be nice for the schemas to be sorted alphabetically. Right now they're kind of haphazardly existing. It would make finding things a bit easier.

**Describe the solution you'd like**
Add sorting to the application. Manual sort through `swagger-ui-express` is sufficient by passing options where `swaggerUi` is initiated in `a

[2022-10-19 07:24] #242 closed

[2022-10-19 07:40] ageddesi commented on #239
I have taken a look into this. Our flow logic for this function should be as follows.

- Get qty from route,

- If there is no value then use the **defaultQty** in the class, however if the **overrideDefaultQty** has been provided in the util function call, set to this instead of **defaultQty**.

- If a value is present in the route, however is not a number it should be replaced with the default a

[2022-10-19 07:41] ageddesi commented on #213
Hi @sirdikshit feel free to join us on discord to talk this through. https://discord.gg/vKrWtQ7G

[2022-10-19 08:35] KidesLeo commented on #239
Seems pretty straightforward, I will get started working on it. Assignment appreciated.

[2022-10-19 18:44] bpvcode opened #246 "Add pull request template"
**Is your feature request related to a problem? Please describe.**
The problem is that we don't have a standardized way to generate pull requests

**Describe the solution you'd like**
If we have pull request templates is easier for people to contribute and explain their contributions, and easier for manintainers to review pull requests content

**Describe alternatives you've considered**
Stay as i

[2022-10-19 18:45] bpvcode commented on #246
Hello @ageddesi

If you liked my proposal, can you please assign me this issue?
Is it possible to label them as `hacktoberfest` issue?

Thank you :)

[2022-10-19 20:38] ageddesi commented on #246
Hi, this would be a great addition. I will assign you now.

[2022-10-19 21:04] #46 closed

[2022-10-19 21:57] cweave commented on #239
I think as a fail safe, there should be an error thrown if there isn't an `overrideDefaultQty` provided. I was messing with this last night with the route I added to try and add some error handling, but didn't want to go too far down the rabbit hole.

[2022-10-19 22:06] #167 closed

[2022-10-19 22:16] ageddesi opened #249 "Create a new astro.js chat component for website"
On the main website I will want to show our api in action. so I want to create a chatbox with a feed,
On the left of the chatbox you can select the amount of users and messages you receive and by changing them will update the chatbox.

The main site is not in this repo but if you are able to make an astro component using tailwind css :) I can port it in no problem 👍

[2022-10-20 09:35] KidesLeo commented on #239
Is that necessary? There is a const default quantity provided in [route-utils](https://github.com/ageddesi/Mocked-API/blob/dev/utils/route-utils.ts#L4).

[2022-10-20 13:52] cweave commented on #239
Ah, that's my bad. I don't think I had the update when I was messing with it. So you're right, probably not necessary then :)

[2022-10-20 17:20] ade1705 opened #253 "[New Mock]: BasketBall Teams"
**Is your feature request related to a problem? Please describe.**
Feature to add an endpoint that returns a list of Basketball NBA teams similar to `/sports/football/leagues/premier/teams`

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

Sample response would look like this
[code]
I'd like to be assigned to this issue.

[2022-10-20 18:06] ageddesi commented on #253
This would be awesome :) @ade1705

[2022-10-21 23:17] pjunior94 commented on #127
Hello @ageddesi, may I help with something here? 👍🏻

[2022-10-22 00:10] ade1705 commented on #253
@ageddesi Please review

[2022-10-22 08:36] #230 closed

[2022-10-22 11:04] ageddesi opened #258 "There seems to be 2 different swagger tags for currencies"
![image](https://user-images.githubusercontent.com/1301564/197335614-5b847322-ccaa-4b91-ad57-f31d7ea7aa72.png)

[2022-10-22 14:49] mohdmulla commented on #258
Hi, Can i be assigned to this?

[2022-10-22 16:54] Xavier577 commented on #258
Can I help out with this?

[2022-10-22 16:54] Xavier577 commented on #258
oh appears I was too late

[2022-10-22 17:57] #258 closed

[2022-10-23 01:48] computamike commented on #249
I haven't seen astro.js - so I'll take a look at seeing if I can knock something up -

[2022-10-23 08:35] computamike commented on #120
Can this issue be closed now?

[2022-10-23 08:58] ageddesi commented on #249
Hi @computamike Astro.js is the framework I use for the frontend site. The frontend site is not part of this repo however, I am looking at adding a folder that is for making content that will appear on the site. :)

[2022-10-23 08:58] #120 closed

[2022-10-23 08:58] ageddesi commented on #120
Thanks @computamike, It was suppose to be lol 👍

[2022-10-23 09:16] wavpro opened #262 "[New Mock]: Provinces"
**Is your feature request related to a problem? Please describe.**
Feature to add ``/countries/provinces`` endpoint which returns a list of all countries and their provinces.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

Example response:
[code]

[2022-10-23 09:17] ageddesi commented on #262
This would be a great endpoint to add 👍

[2022-10-23 09:17] #239 closed

[2022-10-23 09:22] wavpro commented on #262
I forgot to mention I wanted to work on it, I'll make a fork and start working on it.

[2022-10-23 11:38] #262 closed

[2022-10-23 13:07] utsav00 commented on #32
Thank you for your patience. Awaiting review

[2022-10-23 13:44] edwardsmoses opened #265 "[New Mock]: Courses"
**Is your feature request related to a problem? Please describe.**
Adding an endpoint that returns a list of course similar to the e-commerce cart endpoint - `/ecommerce/cart`

Describe the solution you'd like

A sample response would be something like this:

[code]

If it sounds good, I'll love to get on this later today - thanks!

[2022-10-23 13:56] ageddesi commented on #265
Sounds like a great endpoint idea.

[2022-10-23 21:00] edwardsmoses opened #268 "Dynamic Loading of API Routes"
**Is your feature request related to a problem? Please describe.**
Since we follow a convention for creating API routes. We could have the declaration of API routes loaded dynamically instead of declaring them statically.
This could also help new contributors onboard easier since all that'd be needed to add a new endpoint is following the steps in the [Contributing](https://github.com/ageddesi/Moc

[2022-10-23 21:03] #265 closed

[2022-10-23 21:34] #268 closed

[2022-10-23 22:53] computamike commented on #13
I think I might take a look at this if that's ok?   I think I can add Plausable into the docker-compose, get that working and develop an interface for the analytics.

[2022-10-24 00:22] computamike commented on #13
I have a local instance of plausible running - however it won't work for localhost - I can set up a host hack, but this is worth noting for developers looking to hack on this.

![image](https://user-images.githubusercontent.com/464876/197425706-f5c6ba2c-ea88-4d92-ad74-037afbcace07.png)

[2022-10-24 01:25] GarrickBee commented on #11
@ageddesi

[2022-10-24 01:38] computamike commented on #13
I have something running locally - here's a screenshot.  Still lots to do - around removing hardcoded magic strings.
![image](https://user-images.githubusercontent.com/464876/197431023-8b120270-7c3c-4134-9fa8-e41e2e388760.png)

[2022-10-24 09:01] #236 closed

[2022-10-24 14:58] ade1705 opened #270 "[New Mock]: Ligue 1 teams endpoint"
Is your feature request related to a problem? Please describe.
Feature to add an endpoint that returns a list of Ligue 1 teams similar to /sports/football/leagues/premier/teams

Sample response would look like this

[code]

I'd like to be assigned to this issue.

[2022-10-24 16:42] freshairr opened #271 "[Bug] Fixing Broken Links in Contributing Guidelines"
**Describe the bug**
There are several links in the contributing guidelines that lead to 404 errors. Mainly the documentation links, but also links to the bug tracker and a gif maker for Linux users

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://github.com/ageddesi/Mocked-API/blob/dev/CONTRIBUTING.md
2. Click on any of the links from the screenshot below
3. See 404 error

**Ex

[2022-10-24 17:04] ageddesi commented on #271
Thanks for finding all these issues :)

[2022-10-24 17:06] freshairr commented on #271
Can I be assigned to this? Would like to start contributing :)

[2022-10-24 17:55] #253 closed

[2022-10-24 23:08] computamike opened #274 "Documentation / CURL generated for Address is incorrect"
**Describe the bug**
The address endpoint - when executed through swagger, doesn't pass the parameters along.

**To Reproduce**
Steps to reproduce the behavior:
1. Start mockedAPI - in this instance I am running a local instance.
2. Click the address endpoint, click the try it out button
3. Enter uk as the country, and 3 as the qty
4. note that the request URL does not show the qty or country
5. n

[2022-10-25 12:15] mohdmulla commented on #274
Hi, @computamike I am interested in working on this issue, Please assign it to me if this issue still available?

[2022-10-25 16:29] mohdmulla commented on #274
Hi @ageddesi  i would like to work on this issue, Can you assign it to me? Thanks.

[2022-10-25 18:51] computamike commented on #274
Hi @mohdmulla  - I'm just a contributor so I can't assign bugs and stuff but if you can fix the problem then that would be great.

[2022-10-25 19:27] jenistenxavier opened #279 "Automatic update to Dependencies using Dependabot."
**Is your feature request related to a problem? Please describe.**
Using outdated packages raises security concerns and updating the packages is an essential step. But this step can be automated.

**Describe the solution you'd like**
Automatic updates to packages can no longer need to be a manual task.  Dependabot can be used to identify the dependencies that have update and can raise a PR.

**Add

[2022-10-26 07:08] #271 closed

[2022-10-26 07:12] #274 closed

[2022-10-26 11:24] #127 closed

[2022-10-26 13:57] ageddesi commented on #270
This would be ace

[2022-10-26 14:13] ade1705 commented on #270
@ageddesi Please review

[2022-10-26 22:44] computamike opened #283 "API Access from Swagger (CORS error) / 502 error"
**Describe the bug**
It seems that CORS configuration is preventing the production API site from serving API results to swagger front end, or a [sample codepen](https://codepen.io/cweave/pen/dyKPVVp)(thanks swampdolphin on discord).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [swagger](https://api.mocked-api.dev/)
2. Execute some of the endpoints
3. Get CORS error (occasionally?)
4

[2022-10-27 05:57] cweave commented on #249
I started hacking something together just to check out astro.js. I can probably get something out by this weekend, if you aren't actively working already @computamike

[2022-10-27 12:17] computamike commented on #249
Thats fine.. I had a bit of a play with astro but hadn't managed to get anything working so far..

[2022-10-27 19:40] #102 closed

[2022-10-27 20:39] #206 closed

[2022-10-27 20:50] #270 closed

[2022-10-27 20:52] ageddesi commented on #11
Hi @GarrickBee This ticket was a placeholder to look into that data source and see what type of endpoints we could make using the data points.

[2022-10-27 20:53] #121 closed

[2022-10-31 03:32] computamike opened #286 "Movies test seems brittle"
**Describe the bug**
Selecting a random movie end point returns the id to load based on the number of records in the list.

https://github.com/ageddesi/Mocked-API/blob/ad467cfe102faee6d2d2137a6058203dc54da3dd/src/modules/movies/api/movies-routes.ts#L24

Firstly - it seems there is a utility function that could be used instead - so that might be a good refactor to do.  This line will return a numbe

[2022-10-31 12:19] #32 closed

[2022-10-31 12:30] #286 closed

[2022-11-01 22:54] cweave commented on #249
@ageddesi Sorry it took me a bit longer. Here's a [repo](https://github.com/cweave/astro-chat_mocked-api) and a [live preview](https://astro-chat.netlify.app). I figured I'd at least have you get a look at it before I go down the rabbit hole more. The inputs don't update the numbers for the endpoint yet. I was having a hard time figuring out child => parent state/prop management in Astro and didn'

[2022-11-02 00:13] ageddesi commented on #249
Hi @cweave i will take a look at this first thing tomorrow. I have been getting the host to look into the to the error. I think our hosting needs upgrading to be honest.

The example looks great. Will look more later. Appreciate the hard work.

[2022-11-02 11:54] ageddesi commented on #249
Hi @cweave for this task, its best to keep everything in one Astro file so its easy for me to import and use :) This also means you can control the whole form and input in the same js code block.

[2022-11-02 14:32] cweave commented on #249
@ageddesi oh sweet! I'll refactor that badboy today/tomorrow 😎

[2022-11-03 21:39] cweave commented on #249
@ageddesi is Astro the best thing to use? It seems to only make data request calls when the application is built: [data fetching](https://docs.astro.build/en/guides/data-fetching/#fetch-in-astro)

I'm having a hell of a time trying to figure out how to get the Astro script (aka sever script) to rerun if the variables are updated from the form.

[2022-11-03 22:01] ageddesi commented on #249
If you make your component <Component client:load> This will make the code inside the component run on render locally and not online.

also you can make your <script is:inline> as well :)

The Astro docs really document this well. However if it becomes to much of an issue. I have can instal handlers so the component can be a vue component instead of an astro component if that helps.

[2022-11-03 23:04] cweave commented on #249
Yeah I tried doing `script is:inline` and made some progress. It's a tricky bugger. I did update the repo I posted if you are able to take a quick peak.

[2022-11-09 14:33] ageddesi opened #296 "Weather Endpoint"
**Is your feature request related to a problem? Please describe.**
Would be ace to create an endpoint for weather as this is used in a lot of tutorials

**Describe the solution you'd like**
Weather Types

[code]

Result = an array of weather results

[code]

[2022-11-09 23:08] Vishwamagdavan commented on #296
Hi @ageddesi ,I would like to do this issue, please assign me. Thank you.

[2022-11-11 22:36] lsymds opened #299 "Endpoint that randomly succeeds/fails based on a configuration sent in the request"
**Is your feature request related to a problem? Please describe.**
I'd like an endpoint that randomly succeeds or fails based on a configuration I can send in the request.

**Describe the solution you'd like**
There's many possible ways this could be implemented, ranging from a simple randomly failing endpoint with a randomness factor (i.e. `api/flaky?failure_rate=0.25`) to a more in depth endpoin

[2022-11-14 08:00] ageddesi opened #300 "Counts are wrong"
**Describe the bug**
We use the following data endpoint on the mocked-api.dev website to show the current api count.
https://api.mocked-api.dev/full-status
Currently this count is wrong. I can see just over 30 categories in the codebase but the site only says 22. I also imagine the api endpoint count is incorrect also.

To fix this an Audit needs to be performed on all api routes to ensure they ha

[2022-11-14 16:19] ageddesi commented on #299
This sounds like a great idea.

[2022-11-21 18:24] bugrakocabay commented on #299
I would like to implement this idea, if no one is already doing so.

[2022-11-22 02:05] computamike opened #306 "Morgan reporting (and possibly other middlwares are not working)"
**Describe the bug**
Executing the code from the main dev branch, there is no logging provided by the [morgan](https://www.npmjs.com/package/morgan) middleware.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone the latest dev branch to get the latest code (this issue was found on [c78b5ee](https://github.com/ageddesi/Mocked-API/commit/c78b5eeba2783c0c8d6b42f00a6ee947d970d1e7))
2. run the

[2022-11-28 07:35] ageddesi opened #308 "Remove faker.js"
Faker.js is the library that we are using to produce a lot of our data. Ideally in the long term we would like to remove the need of the third party library and instead start to develop our own internal library of mock data generators.

This ticket is to investigate and start to document the ones we would need and ideas on how to set this internal library up.

[2022-11-29 08:04] ageddesi opened #310 "Add new Nutrition endpoint"
Add a new endpoint for nutrition. We can start with fruit which I have added below.

Endpoints:

[code]

![image](https://user-images.githubusercontent.com/1301564/204472603-07d558d1-4463-458d-a4f6-5df9d5d3fc37.png)

[2022-11-29 08:06] ageddesi commented on #299
Hi @bugrakocabay this is all yours. :)
please do reach our on our discord channel if you need any help. https://discord.gg/7esAwBqY

[2022-11-29 08:09] ageddesi commented on #249
Hi @cweave just pining to see if this is still something being worked on?

[2022-11-29 17:35] GauravRanganath commented on #310
Hi @ageddesi! I'm gauravitude from the discord server, could you please assign this issue to me?

[2022-11-29 18:02] ageddesi commented on #310
All yours @GauravRanganath

[2022-11-30 18:22] Eric-R-Liang commented on #310
Hey @ageddesi, the data we are using is from Government of Canada's Canadian Nutrient File (CNF). Following is a link to the website: https://www.canada.ca/en/health-canada/services/food-nutrition/healthy-eating/nutrient-data/canadian-nutrient-file-2015-download-files.html.